.intro {
  background-image: url("../assets/images/intro/bg.png");
}

@media (max-width: 1024px) {
  .intro {
    background-size: 420px 420px;
    background-position: right top 5rem;
  }
}
@media (max-width: 930px) {
  .intro {
    background-image: none;
  }
}

.myBullet {
  width: 18px;
  height: 18px;
  background: #222222;
  border-radius: 9px;
}

.myBullet:hover {
  background: #f5f5f5;
}

.myBullet:active {
  background: rgba(34, 34, 34, 0.4);
}

