

.myBullet {
  width: 18px;
  height: 18px;
  background: #222222;
  border-radius: 9px;
  display:block;
  position: absolute; 
  bottom: 82px;
  left:calc(50vw - 32px);
  cursor:pointer;
}


.myBulletActive{
  width: 18px;
  height: 18px;
  background: #22222266;
  border-radius: 9px;
  display:block;
  position: absolute; 
  bottom: 82px;
  left:50vw;
  cursor:pointer;
}
